* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

#page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  /* background: hsl; */
}

#news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  div {
    width: 285px;
    min-width: 285px;
    margin-top: 50px;
    background-color: #fafafa;
    padding: 5px;

    h3 {
      height: 6rem;
    }

    img {
      max-width: 285px;
      max-height: 160px;
    }
  }
}

#quick-pick-badges li {
  list-style: none;
  display: inline;
  margin: 0 5px;
  padding: 2px 5px;
  background-color: aquamarine;
  border-radius: 25px;
}

#void-search {
  width: 15rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  padding: 0.5rem;
}

#void-submit {
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #c9c7c7;
  background-color: #e2e2e2;
}
